<form [formGroup]="myForm">
  <div class="form-wrapper">
    <div class="form-block">
      <label>Name *</label>
      <input type="text" formControlName="name">
      <span *ngIf="myForm.controls.name.invalid">Min length 3 characters</span>
    </div>
    <div class="form-block">
      <label>Age *</label>
      <input type="number" formControlName="age">
      <span *ngIf="myForm.controls.age.invalid">Min digit 1</span>
    </div>
    <div class="form-block">
      <label>Email *</label>
      <input type="email" formControlName="email">
      <span *ngIf="myForm.controls.email.invalid">Enter your email</span>
    </div>
    <div class="form-block">
      <label>Phone *</label>
      <input type="text" formControlName="phone">
      <span *ngIf="myForm.controls.phone.invalid">Enter your phone</span>
    </div>
    <div class="form-button">
      <button
        [disabled]="myForm.invalid"
        (click)="saveFormData(myForm)">Save
      </button>
    </div>
  </div>
</form>

<div *ngFor="let visitor of visitors">
  <span>Hello,</span>
  {{visitor.name}}
  <div>
    <ul>
      <li>Name: {{visitor.name}}</li>
      <li>Age: {{visitor.age}}</li>
      <li>Email: {{visitor.email}}</li>
      <li>Phone number: {{visitor.phone}}</li>
    </ul>
  </div>
</div>
